@font-face {
  font-family: 'MaruBuri-Regular';
  src: url('./maruburi-naver/MaruBuri-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hahmlet-Regular';
  src: url('./hahmlet-hypertype/Hahmlet-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Hahmlet-Regular, sans-serif;
}

@media only screen and (min-width: 480px) {
  #__next{
    position: absolute;
    left: 50%;
    width: 480px;
    height: 900px;
    overflow: scroll;
    transform: translateX(-50%);
  }

  #__next::before{
    content: "　　　[ ! mobile only ]　　　";
    background-color: #F5CAA4;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  margin: 18px 0;
}